*{
    padding: 0px;
    margin: 0px;
}
    body{
   font: 15px/1.5 arial;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
header{
    padding-top: 30px;
    min-height: 70px;
    overflow: hidden;
    border-bottom: #e8491d 4px solid;
    background-color: #35424a;
}
#showcase{
    padding: 40px 0px 40px 0px;
    background-color: #35424a;
    overflow: hidden;
}
img{
    width: 90px;
}
#main{
    text-align: center;
    min-height: 400px;
    padding:  0px 0px;
}
h1{}
#true{
    margin-top: 100px;
    margin-bottom: 15px;
 font-size: 25px;
 text-transform: capitalize;
}
#box{
    padding: 20px 0px 20px 0px;
}
.boxes{
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: 30%;
    float: left;
}
#talk{
    float: left;
    margin: o;
    color: white;
}
form{
    float: right;
}
input {
    padding: 4px;
    width: 250px;
    height: 25px;
}
#but_1{
    height: 30px;
    border: 0px;
    padding: 0px 20px 0px 20px;
    background-color:  #e8491d;
    color: white;
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}

nav ul li {
    float: left;
    padding: 0px 14px;
    display: inline;
}
nav{
    float: right;
    margin-top: 17px;    
    margin-left: 0px;
    padding: 0px;
    text-align: center;
}
ul{
    margin:0px;
    padding: 0px;
    
}

header #heading{
    float: left;
    margin: 0px;
    padding: 0px;
}

header #heading h1{
    margin:0%;
}
footer{
    background-color: #e8491d;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#color{
    color: #e8491d;
}
#main-col{
    float: left;
    width: 70%;
}
#sidebar{
    float: right;
    width: 25%;
    }
    .dark{
        border:red solid 2px;
    padding: 10px 5px;
    background-color: #35424a;

    }